#newParameter {
    display: none;
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 10px;
    border: 4px double black;
}

.button {
    width: 250px;
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 20px;
    font-size: 18px;
}

.deleteButton {
    width: 150px;
    margin-top: 10px;
    margin-left: 40px;
    margin-bottom: 10px;
    font-size: 16px;
}

.parameter {
    margin-bottom: 10px;
    margin-left: 40px;
    padding: 10px;
    border: 2px dotted black;
}

.parameterID {
    margin-bottom: 10px;
    font-size: 13px;
}

.parameterName {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.parameterDescription {
    margin-bottom: 10px;
    font-size: 15px;
}

.parameterSettings {
    margin-bottom: 10px;
    font-size: 16px;
}
